* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}
.round{
     border-radius: 50%;
}
.grey{
     color: grey;
}
.orange{
     color: orange;
     text-decoration: none;
}
.h1r{
     line-height: 0.8;
     font-size: 40px;
}
hr{
     color: solid gray;
     background: gray;
     width: 600px;
     margin: 0 0 0 10px;
     padding: 0 0 0 10px;
}
h1,h2,h3{
     padding: 20px 0 0 0;
     margin: 20px 0 0 0;
}
.nopad{
     padding: 0px;
     font-size: 14px;
}
p{
     padding: 10px;
     margin: 0;
}

.vl{
     border-left: 3px solid gray;
     height: 90px;
     margin: 0 20px 0 0;
     padding: 0 0 10px 1px;
}
/*---
-------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
body {
 background: url('../images/notebook.png');
 color: #000000;
 font-family: 'Lato', sans-serif;
 line-height: 1.7; /* line-height is unit-less */
 font-size: 100%;
}  
/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/
#container{
     width: 1000px;
     margin: 0 auto 0 auto;

}
#header{
     padding:20px 0 40px 0;
}
#main{
     background: white;
     float: left;
     width: 700px;
     padding: 0 0 0 40px;
     margin: 0;
     border-radius: 10px;
}
#ending{
      padding-bottom: 50px;
      color: grey;
}
#sidebar{
     background: white;
     margin-left: 8px;
     width: 292px;
     float: left;
     padding: 10px;
     border-radius: 10px;
}
#qou{
     line-height: 1;
     padding-top: 8px;
     padding-bottom: 20px ;
     margin: 0 20px 0 0;
     font-size: 14px;
}
#footer{
     padding-top: 10px;
}